command_not_found_message: |
  Multiline not found command 🤷‍♂️
  Overwrites hardcoded message 🚫



commands:
    # Example command name, as registered within Telegram bot
  - name: "/randomimg"
    # folder path on supplied S3 bucket
    # "/" after name is important
    storage: "bucket-folder/"
    # If "type: image", fetch from S3 bucket
    type: image
  - name: "/toast"
    # Random line from text file will be fetched and returned
    # File is being looked for within Lambda's filesystem, not remotely
    file: toasts.txt
    # Needed if looking for random txt string
    type: text
  
