function_name        = "lambda-func-dev"
runtime              = "python3.10"

# Needed for permission setting
s3_bucket_project      = "bucket-project-name"

telegram_bot_token   = "telegram-bot-token-here"

run_dependency_script = true

